<div class="our-services">
  <div class="our-services__container">
    <div class="our-services__column">
      <div class="our-services__title">Наши услуги</div>
      <div class="our-services__items">
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/01.png" alt="" />
            </div>
            <div class="our-services__desc">Диагностика и <br />ремонт ходовой</div>
          </div>
        </a>
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/02.png" alt="" />
            </div>
            <div class="our-services__desc">Ремонт и профилактика тормозной системы</div>
          </div>
        </a>
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/03.png" alt="" />
            </div>
            <div class="our-services__desc">Полное техническое обслуживание авто</div>
          </div>
        </a>
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/04.png" alt="" />
            </div>
            <div class="our-services__desc">Ремонт и диагностика двигателя</div>
          </div>
        </a>
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/05.png" alt="" />
            </div>
            <div class="our-services__desc">Шиномонтаж</div>
          </div>
        </a>
        <a class="our-services__link" href="#">
          <div class="our-services__item">
            <div class="our-services__image">
              <img src="/images/services/06.png" alt="" />
            </div>
            <div class="our-services__desc">Запчасти и масла</div>
          </div>
        </a>
      </div>
      <a href="" class="our-services__link">Все услуги</a>
      <div class="our-services__offer-list">
        <div class="our-services services-our">
          <div class="services-our__item-toyota">
            <h3 class="services-our__title">Только в июле ТО <span class="services-subtitle">для toyota -10%</span></h3>
            <p class="services-our__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="services-our__btn-red">Записаться на ТО</button>
          </div>
        </div>
        <div class="our-services services-our">
          <div class="services-our__item-motul">
            <h3 class="services-our__title">Закажи масла on-line<span class="services-subtitle">motul</span></h3>
            <p class="services-our__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="services-our__btn-white">Заказать масло</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
